* {
  background-color: #f4f2ee;
}

body form {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.post-textarea {
  border-radius: 8px;
  border: 1px solid black;
}

.btn-upload {
  margin-left: 200px;
}

.btn-post {
  margin-top: 8px;
  margin-left: 12px;
}
