:root {
  --primaryColor: #4c50d3;
  --secondaryColor: #ffce00;
  --fontColor: #1e1e1e;
  --whiteColor: #fff;
  --greyColor: #e7e7e7;
  --darkGreyColor: #5f5f5f;
  --sofPurple: #e7e8ff;
  --softBlue: #c3e1ff;
  --softYellow: #fff5cc;
  --softRed: #ffcbc8;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Lato", sans-serif;
}

body {
  width: auto;
  /* height: 100vh; */
  /* display: flex; */
}

.main {
  width: 75%;
  min-height: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  padding: 0 4rem;
  background-color: #f4f2ee;
}

.btn-filter {
  min-width: 110px;
  padding: 0.5rem;
  border-radius: 20px;
  border: none;
  background-color: var(--whiteColor);
  cursor: pointer;
}

.sort p {
  font-size: 14px;
}

.sort-list select {
  height: 1.5rem;
  border-radius: 20px;
  border: none;
  margin-top: 0 0.5rem;
}


.people {
  margin: 4px 0 18px;
  width: 100%;
  background-color: white;
  border: 1px solid #dfdeda;
  padding: 18px 28px;
  min-height: 500px;
}

.people .cards {
  display: flex;
  flex-wrap: wrap;
}

.people .cards .person-card {
  overflow: hidden;
  border-radius: 8px;
  width: 24%;
  margin-right: 9px;
  margin-bottom: 18px;
  display: flex;
  flex-direction: column;
  min-height: 250px;
  border: 1px solid #dfdeda;
}

.section1 .people p {
  font-size: 18px;
  color: black;
  font-weight: 500;
}

.people .cards .bg-wrapper {
  height: 30%;
}

.people .cards .profile-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}


.wrapper {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  gap: 1rem;
  overflow-y: auto;
}
.card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  padding: 3%;
  margin: 0 1%;
  background-color: var(--whiteColor);
  line-height: 1.5;
  gap: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid #dfdeda;
}
.card:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card-left {
  width: 18%;
  min-width: 50px;
  display: flex;
  justify-content: center;
  border-radius: 20%;
}

.card-left img {
  width: 100%;
  height: auto;
  min-height: 80px;
  padding: 1rem;
  background-color: #f3f3f3;
}

.card-center {
  width: 55%;
}

.card-center h2 {
  font-size: 24px;
  color: black;
}

.card-detail {
  font-size: 18px;
}

.card-loc,
card-sub {
  font-size: 13px;
  color: var(--darkGreyColor);
}

.card-sub {
  display: flex;
  flex-wrap: wrap;
}

.card-sub p {
  display: flex;
  padding: 0 0.5rem 0 0;
  align-items: center;
}

ul {
  list-style: none;
}

.card-right {
  width: 18%;
}
/* .card-tag a {
  color: var(--fontColor);
  font-size: 13px;
} */

.card-salary {
  padding: 0.5rem 0;
  color: var(--primaryColor);
}

.card-salary span {
  color: var(--fontColor);
  font-size: 13px;
}

.blue-bg {
  background-color: var(--softBlue);
}

.yellow-bg {
  background-color: var(--softYellow);
}

.red-bg {
  background-color: var(--softRed);
}

.purple-bg {
  background-color: var(--sofPurple);
}

.detail {
  background-color: white;
  width: 40%;
  border-radius: 8px;
  border: 1px solid #dfdeda;
  height: fit-content;
}

.close-detail {
  display: none;
}

.detail-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  background-color: white;
}

.details-header img {
width: 100%;
vertical-align: middle;
border-style: none;
}
.solution{
  width: 100%;
}

.card-left-red-bg img{
width: 100%;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: var(--greyColor);
  border: none;
  margin: 1rem 0;
}

.detail-desc {
  line-height: 1.5;
  padding-left: 35px;
}
.left-sidebar {
  width: 35%;
}

.about a {
  margin: 0.5rem 0 0 0;
  color: var(--primaryColor);
  font-size: 14px;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
}

.detail-btn {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
  justify-content: center;
}
.btn-apply {
  background-color: var(--primaryColor);
  color: var(--whiteColor);
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-save {
  background-color: var(--secondaryColor);
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
}

.btn-apply:hover {
  border: 1px solid var(--primaryColor);
  background-color: transparent;
  color: var(--primaryColor);
  text-decoration: none;

}
.btn-save:hover {
  border: 1px solid var(--secondaryColor);
  background-color: transparent;
}

.search-box {
  margin-left: 14px;
  background: #edf3f8;
  width: 320px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 0 15px;
}
.search-box img {
  width: 14px;
}
.search-box input {
  width: 100%;
  background: #edf3f8;
  padding: 8px;
  outline: none;
  border: 0px;
}


* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background: #f4f2ee;
  color: #5f5f5f;
}

a {
  text-decoration: none;
  color: #5f5f5f;
}

ul {
  margin-bottom: 0 !important;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  height: 60px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo img {
  width: 45px;
  margin-right: 15px;
  display: block;
}

.navbar-center ul {
  display: flex;
  gap: 48px;
}

.navbar-center ul li {
  /* display: inline-block; */
  list-style: none;
}

.navbar-center ul li a {
  display: flex;
  align-items: center;
  font-size: 14px;
  position: relative;
}

.navbar-center ul li a span {
  margin-left: 4px;
  margin-top: 4px;
}
.navbar-center {
  margin-right: 5px;
}

.active-link:hover {
  color: black;
  text-decoration: none;
}
.navbar-center ul li a::after {
  content: "";
  height: 2px;
  /* background: black; */
  position: absolute;
  bottom: -15px;
  transition: width 0.3s;
}

.navbar-center ul li a.active-link::after {
  width: 100%;
}
.navbar-center ul li a:hover::after {
  width: 100%;
  text-decoration: none;
  color: black;
}
.active-link {
  text-align: center;
  text-decoration: none;
  color: inherit;
  padding-right: 10px;
}

.nav-profile-img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  cursor: pointer;
  position: relative;
}

.search-box {
  background: #edf3f8;
  width: 320px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 0 15px;
}

.navbar-left {
  display: flex;
  align-items: center;
}
.search-box img {
  width: 14px;
}

.search-box input {
  width: 100%;
  background: transparent;
  padding: 8px;
  outline: none;
  border: 0px;
}

.profile-menu-wrap {
  position: absolute;
  top: 100%;
  right: 5%;
  width: 320px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s;
}

.profile-menu-wrap.open-menu {
  max-height: 400px;
}

.profile-menu {
  background-color: white;
  padding: 20px;
  color: black;
  margin: 10px;
  border-radius: 18px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  z-index: 100;
}

.user-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-info img {
  width: 45px;
  border-radius: 50%;
  margin-right: 15px;
}

.user-info h3 {
  font-weight: 500;
  margin-top: 8px;
  font-size: 18px;
}

.user-info a {
  color: #c9dbf8;
  font-size: 13px;

}

.profile-menu-link {
  display: flex;
  align-items: center;
  color: #000;
  margin: 12px 0;
  font-size: 20px;
}

.profile-menu-link a {
  width: 100%;
}

.logout-icon {
  font-size: 22px;
}
.logout-block {
  display: flex;
  text-decoration: none;
}
.logout-link {
  font-size: 20px;
  margin-top: 7px;
  margin-left: 5px;
}

.profile-menu-link img {
  width: 35px;
  border-radius: 50%;
  margin-right: 15px;
}

.section1 {
  margin-top: 18px;
}

.section1 .container {
  max-width: 1280px !important;
  display: flex;
}

.left-sidebar {
  width: 25%;
}

.btn-profile {
  display: flex;
  align-items: center;
  border-radius: 8px;
  width: 70%;
  margin-left: 40px;
  margin-top: 20px;
  background-color: #004182;
  color: white;
  text-align: center;
}

.back-home {
  border-radius: 8px 8px 0 0;
}

.sidebar-profile-box {
  background: #fff;
  border-radius: 8px;
  border: 1px solid #dfdeda;
  display: inline-block;
  width: 70%;
 
}

.sidebar-profile-info {
  padding: 0 25px;
  border-radius: 5px;
  border-bottom: 1px solid #f3f3f3;
}

.sidebar-profile-info .image {
  border-radius: 50%;
  background: #fff;
  padding: 4px;
  margin-top: -45px;
}

.sidebar-profile-info .image img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.sidebar-profile-info .info {
  text-align: center;
}

.sidebar-profile-info h1 {
  font-size: 20px;
  font-weight: 600;
  color: #222;
}

.sidebar-profile-info h1:hover {
  text-decoration: underline;
}

.sidebar-profile-info h3 {
  font-size: 14px;
  font-weight: 500;
  color: #777;
}
.sidebar-profile-info ul {
  list-style: none;
  margin: 20px 0;
}

.sidebar-profile-info ul li {
  width: 100%;
  margin: 5px 0;
  font-size: 13px;
}
.sidebar-profile-info ul li span {
  float: right;
  color: #045be6;
}
.section1 .people {
  margin: 4px 0 18px;
  width: 100%;
  background-color: white;
  border: 1px solid #dfdeda;
  padding: 18px 28px;
  min-height: 500px;
}

.section1 .people .cards {
  display: flex;
}

.section1 .people .cards .card {
  width: 20%;
  overflow: hidden;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  min-height: 250px;
}

.section1 .people .cards .bg-wrapper {
  height: 30%;
}

.section1 .people .cards .profile-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.info {
  padding: 12px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  text-align: center;
  margin-top: -18%;
}

.bg-image {
  width: 100%;
  height: 100%;
}

.btn-follow {
  font-size: 15px;
  padding: 4px 28px;
  background: white;
  border-radius: 28px;
  border: 2px solid black;
  cursor: pointer;
  margin-top: 16px;
  transition: background-color 0.3s;
}

.btn-follow:hover {
  background-color: #f1f1f1;
}

.name {
  color: black;
  font-size: 18px;
  font-weight: 600;
}

.job-title {
  text-align: center;
  padding: 0 18px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 1;
}

.left-sidebar {
  width: 35%;
}

.btn-new-post {
  background-color: white;
  color: #004182;
  border: 1px solid #004182;
  border-radius: 8px;
  padding: 8px 6px;
  transition: background-color 0.3s;
  cursor: pointer;
}

.btn-new-post:hover {
  background-color: #e1e8ee;
}
